  <%- include("../includes/head.ejs")%>
    
  </head>

  <body>
    <%- include("../includes/navigation.ejs")%>
    <main>
        <% if (products.length > 0) { %>
          <ul>
            <% products.forEach(product => { %>
            <li>
              <p><%= product.productData.title %> (<%= product.qty %>)</p>
            <form action="" method="POST">
              <input type="hidden" value="<%= product.productData.id %>" name="productId">  
              <button class="btn" type="submit">Delete</button>
            </form>
              </li>
            <% })  %>
          </ul>
        <%  } else { %>
          <h2>Empty Cart</h2>
        <%  }  %>
          

    </main>
 <%- include("../includes/end.ejs")%>
